* {
  color: #000;
  /* font-family: 'Product Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.container {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Heading CSS */

.heading {
  display: flex;
  align-items: center;
  background-color: #d1e2ff;
  margin: 0;
  height: 60px;
  padding: 15px 15px 15px 30px;
  font-size: 36px;
  font-weight: 600;
  border-bottom: #adcbff solid 2px;
}

.heading img {
  border: #adcbff solid 2px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

/* Main Section */

.main {
  display: flex;
  align-items: stretch;
}

#main-height-fix {
  height: 100%;
}

/* Nav CSS */

.nav {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  background-color: #eeeeee;
  width: 25%;
  margin: 0;
  padding: 32px 0% 3% 0%;
  border-right: #cccccc solid 2px;
}

.sticky {
  position: sticky;
  top: 3%;
}

.nav a {
  display: flex;
  justify-content: space-between;
  padding: 3% 10% 3% 10%;
  font-size: 15px;
  text-decoration: none;
}

.nav svg {
  display: flex;
  justify-content: space-between;
  margin: auto 0 auto 0;
}

.nav a:hover {
  background-color: #d1e2ff;
}

.selected {
  background: #ffd3ed;
}

/* Contents CSS */

table {
  border: #ccc solid 2px;
}

th {
  color: #333;
  border-bottom: #ccc solid 2px;
  font-size: 18px;
}

td {
  color: #666;
  font-size: 14px;
}

.contents {
  width: 83.5%;
  margin: 0;
  padding: 3% 3% 1.5% 3%;
  background-color: #fff;
}

.wrapper {
  border-bottom: #ffd3ed solid 2px;
  margin-bottom: 32px;
  padding-bottom: 40px;
}

.wrapper h1 {
  font-size: 32px;
  border-left: #d1e2ff solid 4px;
  padding: 0 16px;
}

.blog {
  color: #666;
  font-weight: 400;
}

.blog p {
  color: #666;
  font-size: 14px;
  margin-bottom: 4px;
}

.blog a {
  color: #666;
  border-left: #d1e2ff solid 2px;
  padding: 0 12px;
  margin: 0 0 4px 32px;
}

.blog h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 16px;
}

.blog h2 {
  color: #333;
  font-size: 18px;
  margin-bottom: 8px;
}

.blog a:hover {
  color: #adcbff;
}

.blog-section {
  color: #666;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.blog-section-image {
  display: flex;
  margin-bottom: 20px;
}

.blog-section-image img {
  width: 200px;
  height: 200px;
  border: #ccc solid 2px;
  margin-left: 100px;
}

.blog-section-example-layout {
  display: flex;
  flex-direction: column;
}

.blog-section-example-layout p {
  margin-left: 75px;
}

.intro-image {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.intro-image img {
  height: 300px;
  width: 250px;
  border: #ccc solid 2px;
}

@media (max-width: 991px) {
  .heading {
    height: 56px;
    padding: 10px 10px 10px 20px;
    font-size: 32px;
  }

  .heading img {
    height: 56px;
    width: 56px;
  }

  .nav {
    width: 215px;
  }

  .nav a {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .heading {
    font-size: 30px;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }

  .heading img {
    height: 52px;
    width: 52px;
  }

  .main {
    flex-direction: column;
  }

  .nav {
    width: 100%;
    padding: 0;
    border-bottom: #cccccc solid 2px;
    border-right: none;
    position: sticky;
    top: 0;
  }

  .nav svg {
    display: none;
  }

  .sticky {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .contents {
    display: block;
    flex-direction: column;
    align-items: center;
    width: 94%;
  }
}

@media (min-width: 1460px) {
  .nav {
    width: 298px;
    padding: 32px 0 0 0;
  }
}
